# USERS

In [1]:
import pandas as pd

# Misal nama file hasil upload
df_users = pd.read_csv('users.csv')

# Lihat 5 baris pertama
df_users.head()

,id,display_name,name,email,phone,user_role,user_verification_status,created_at,updated_at,deleted_at,...,city_id,custom_city,unsubscribe_link,tz,verified_at,ama,phone_verification_status,phone_verified_with,verified_certificate_name,verified_identity_document
0,"96989,",igihcksn,Inggih Wicaksono,igihcksn@gmail.com,6.281271e+12,2,1,"Apr 3, 2017, 19:16","Apr 28, 2025, 11:54",NaN,...,428,NaN,b6b33e749120c67873d2470c6f0abe4627d9573f,Asia/Jakarta,"Apr 3, 2017, 19:23",0,0,sms,Inggih Wicaksono,202007231120540eb16d37ba8ca22d366c570b0fffd4d3
1,"938276,",nurrizkiadip,Nur Rizki Adi Prasetyo,nrizki@dicoding.com,6.287795e+12,2,1,"May 28, 2020, 20:13","Oct 16, 2025, 10:06",NaN,...,33,NaN,0888bc0f357545b41634c2d0adca935bed2599aa,Asia/Jakarta,"Oct 16, 2025, 10:03",0,0,sms,Nur Rizki Adi Prasetyo,20200720155419385a0bfe7b87200f1542a6e0e5be6d1a
2,"5021477,",rifath_2SXp,rifath,rifathali088@gmail.com,6.289662e+12,2,1,"May 26, 2025, 14:14","Oct 8, 2025, 13:17",NaN,...,22,NaN,ffb597629e05b0d103b2e1b8e2d1b353bfc924be,Asia/Jakarta,"May 26, 2025, 14:21",0,0,NaN,muhammad rifath ali raharjo,NaN
3,"5044844,",ledis_idola_h8Ge,LEDIS IDOLA,221113142@students.mikroskil.ac.id,6.282312e+12,2,1,"Jun 25, 2025, 18:33","Oct 27, 2025, 14:32",NaN,...,95,NaN,36a6c4b52656f79cebb5336f9402e80f119d21df,Asia/Jakarta,"Jul 4, 2025, 12:07",0,0,NaN,Ledis Idola,NaN
4,"5051374,",fkaslana,Fircan Ferdinand,kaslanafircan@gmail.com,6.288222e+12,2,1,"Jul 2, 2025, 09:32","Oct 22, 2025, 15:45",NaN,...,27,NaN,a134d7263e84720f25c8509c2e1565cc15389f2e,Asia/Jakarta,"Jul 2, 2025, 09:49",0,0,NaN,Fircan Ferdinand,NaN

In [2]:
# Jumlah baris dan kolom
df_users.shape

(31, 23)

In [3]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          31 non-null     object
 1   display_name                31 non-null     object
 2   name                        31 non-null     object
 3   email                       31 non-null     object
 4   phone                       30 non-null     float64
 5   user_role                   31 non-null     int64
 6   user_verification_status    31 non-null     int64
 7   created_at                  31 non-null     object
 8   updated_at                  31 non-null     object
 9   deleted_at                  0 non-null      float64
 10  remember_token              28 non-null     object
 11  image_path                  31 non-null     object
 12  city                        0 non-null      float64
 13  city_id                     31 non-null     int64
 14  custom_city                 0 non-null      float64
 15  unsubscribe_link            31 non-null     object
 16  tz                          31 non-null     object
 17  verified_at                 26 non-null     object
 18  ama                         31 non-null     int64
 19  phone_verification_status   31 non-null     int64
 20  phone_verified_with         17 non-null     object
 21  verified_certificate_name   28 non-null     object
 22  verified_identity_document  11 non-null     object
dtypes: float64(4), int64(5), object(14)
memory usage: 5.7+ KB

In [4]:
# 1. Lihat missing values
df_users.isnull().sum()

# 2. Cek duplikat
df_users.duplicated().sum()

# 3. Cek tipe data (ubah kalau perlu)
df_users.dtypes

# 4. Kalau ada tanggal, ubah jadi datetime
df_users['created_at'] = pd.to_datetime(df_users['created_at'], errors='coerce')

# 5. Drop kolom kosong total (semua NaN)
df_users = df_users.dropna(axis=1, how='all')

In [5]:
df_users_clean = df_users.copy()

# TRACKING RESULT

In [6]:
import pandas as pd

# Misal nama file hasil upload
df_tracking = pd.read_csv('developer_journey_trackings.csv')

# Lihat 5 baris pertama
df_tracking.head()

,id,journey_id,tutorial_id,developer_id,status,last_viewed,first_opened_at,completed_at,developer_journey_status_hash
0,"266,063",26,599,"96,989",1,"May 26, 2017, 21:34",NaN,NaN,0xA3461ABA
1,"362,382",26,602,"96,989",0,"May 26, 2017, 21:35",NaN,NaN,0x96D6776A
2,"2,313,738",32,"1,152","96,989",1,"Apr 8, 2020, 20:59","Aug 29, 2018, 11:19",NaN,0x9926AAB1
3,"2,314,290",32,719,"96,989",1,"Apr 8, 2020, 21:00","Aug 29, 2018, 11:32",NaN,0x9926AAB1
4,"2,315,530",32,725,"96,989",1,"Apr 9, 2020, 23:51","Aug 29, 2018, 12:23",NaN,0x9926AAB1

In [7]:
# Jumlah baris dan kolom
df_tracking.shape

(101736, 9)

In [8]:
df_tracking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101736 entries, 0 to 101735
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             101736 non-null  object
 1   journey_id                     101736 non-null  int64
 2   tutorial_id                    101736 non-null  object
 3   developer_id                   101736 non-null  object
 4   status                         101736 non-null  int64
 5   last_viewed                    101683 non-null  object
 6   first_opened_at                74348 non-null   object
 7   completed_at                   80366 non-null   object
 8   developer_journey_status_hash  101736 non-null  object
dtypes: int64(2), object(7)
memory usage: 7.0+ MB

In [9]:
# 1. Lihat missing values
df_tracking.isnull().sum()

# 2. Cek duplikat
df_tracking.duplicated().sum()

# 3. Cek tipe data (ubah kalau perlu)
df_tracking.dtypes

# 4. Kalau ada tanggal, ubah jadi datetime
# Kolom tanggal di df_tracking: last_viewed, first_opened_at, completed_at
datetime_cols = ['last_viewed', 'first_opened_at', 'completed_at']

for col in datetime_cols:
    df_tracking[col] = pd.to_datetime(df_tracking[col], errors='coerce')

# 5. Drop kolom kosong total (semua NaN)
df_tracking = df_tracking.dropna(axis=1, how='all')

In [10]:
df_tracking_clean = df_tracking.copy()

# SUBMISSION RESULT

In [11]:
import pandas as pd

# Misal nama file hasil upload
df_submission = pd.read_csv('developer_journey_submissions.csv')

# Lihat 5 baris pertama
df_submission.head()

,id,journey_id,quiz_id,submitter_id,version_id,app_link,app_comment,status,as_trial_subscriber,created_at,...,admin_comment,reviewer_id,current_reviewer,started_review_at,ended_review_at,rating,note,first_opened_at,submission_duration,pass_auto_checker
0,"94,634",14,258,"3,390","6,683",https://dicodingacademy.blob.core.windows.net/...,"<p>Belajar, praktek dan belajar....materi yang...",1,0,"May 30, 2018, 14:54",...,<p><strong>Checklist</strong></p><ol><li>Halam...,"18,176",NaN,"May 31, 2018, 05:33","May 31, 2018, 05:45",4,NaN,NaN,0,NaN
1,"95,480",14,332,"3,390","6,686",https://dicodingacademy.blob.core.windows.net/...,NaN,-1,0,"Jun 12, 2018, 10:05",...,<p><strong>Rejection message</strong></p><ol><...,"18,176",NaN,"Jun 12, 2018, 10:36","Jun 12, 2018, 11:10",0,NaN,NaN,0,NaN
2,"95,579",14,332,"3,390","6,686",https://dicodingacademy.blob.core.windows.net/...,<p>learn...learn</p>,-1,0,"Jun 14, 2018, 10:42",...,<p><strong>Rejection message</strong></p><ol><...,"18,176",NaN,"Jun 14, 2018, 12:23","Jun 14, 2018, 12:43",0,NaN,NaN,0,NaN
3,"95,600",14,332,"3,390","6,686",https://dicodingacademy.blob.core.windows.net/...,<p>recyclerview kami coba di emulator dan HP j...,1,0,"Jun 14, 2018, 16:42",...,<p>Selamat anda telah menyelesaikan submission...,"18,176",NaN,"Jun 14, 2018, 21:32","Jun 14, 2018, 21:41",3,NaN,NaN,0,NaN
4,"95,698",14,560,"3,390","6,689",https://dicodingacademy.blob.core.windows.net/...,NaN,-1,0,"Jun 18, 2018, 08:11",...,<p><strong>Hallo Istia Budi!</strong></p><p><b...,"151,533",NaN,"Jun 18, 2018, 09:22","Jun 18, 2018, 09:23",0,NaN,NaN,0,NaN

In [12]:
# Jumlah baris dan kolom
df_submission.shape

(2262, 21)

In [13]:
df_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2262 entries, 0 to 2261
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2262 non-null   object
 1   journey_id           2262 non-null   int64
 2   quiz_id              2262 non-null   object
 3   submitter_id         2262 non-null   object
 4   version_id           1748 non-null   object
 5   app_link             2262 non-null   object
 6   app_comment          1118 non-null   object
 7   status               2262 non-null   int64
 8   as_trial_subscriber  2262 non-null   int64
 9   created_at           2262 non-null   object
 10  updated_at           2262 non-null   object
 11  admin_comment        2131 non-null   object
 12  reviewer_id          2148 non-null   object
 13  current_reviewer     1 non-null      object
 14  started_review_at    2161 non-null   object
 15  ended_review_at      2148 non-null   object
 16  rating               2262 non-null   int64
 17  note                 339 non-null    object
 18  first_opened_at      0 non-null      float64
 19  submission_duration  2262 non-null   object
 20  pass_auto_checker    0 non-null      float64
dtypes: float64(2), int64(4), object(15)
memory usage: 371.2+ KB

In [14]:
# 1. Lihat missing values
df_submission.isnull().sum()

# 2. Cek duplikat
df_submission.duplicated().sum()

# 3. Cek tipe data (ubah kalau perlu)
df_submission.dtypes

# 4. Kalau ada tanggal, ubah jadi datetime
# Kolom tanggal di df_submission: created_at, updated_at, started_review_at, ended_review_at
datetime_cols = ['created_at', 'updated_at', 'started_review_at', 'ended_review_at']

for col in datetime_cols:
    df_submission[col] = pd.to_datetime(df_submission[col], errors='coerce')

# 5. Drop kolom kosong total (semua NaN)
df_submission = df_submission.dropna(axis=1, how='all')

In [15]:
df_submission_clean = df_submission.copy()

# COMPLETIONS RESULT

In [16]:
import pandas as pd

# Misal nama file hasil upload
df_complete = pd.read_csv('developer_journey_completions.csv')

# Lihat 5 baris pertama
df_complete.head()

,id,user_id,journey_id,created_at,updated_at,enrolling_times,enrollments_at,last_enrolled_at,study_duration,avg_submission_rating
0,"104,582","96,989",32,"Apr 11, 2020, 14:39","Apr 11, 2020, 14:39",3,"2018-08-29 11:19:45,2019-02-05 09:20:57,2020-0...","Feb 26, 2020, 17:05",44,4.50
1,"30,951","96,989",51,"Aug 10, 2019, 02:42","Aug 10, 2019, 02:42",1,2019-06-20 21:01:59,"Jun 20, 2019, 21:01",50,3.00
2,"74,313","96,989",74,"Dec 23, 2019, 06:22","Dec 23, 2019, 06:22",2,"2019-10-29 09:34:40,2019-10-31 09:38:30","Oct 31, 2019, 09:38",52,2.67
3,"26,219","96,989",83,"Jun 20, 2019, 05:45","Jun 20, 2019, 05:45",1,2019-06-14 18:15:40,"Jun 14, 2019, 18:15",5,3.00
4,"23,887","96,989",104,"May 18, 2019, 08:58","May 18, 2019, 08:58",1,2019-05-10 14:30:08,"May 10, 2019, 14:30",7,4.00

In [17]:
# Jumlah baris dan kolom
df_complete.shape

(1032, 10)

In [18]:
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1032 non-null   object
 1   user_id                1032 non-null   object
 2   journey_id             1032 non-null   int64
 3   created_at             1032 non-null   object
 4   updated_at             1032 non-null   object
 5   enrolling_times        1032 non-null   int64
 6   enrollments_at         1032 non-null   object
 7   last_enrolled_at       1032 non-null   object
 8   study_duration         1032 non-null   object
 9   avg_submission_rating  474 non-null    float64
dtypes: float64(1), int64(2), object(7)
memory usage: 80.8+ KB

In [19]:
# 1. Lihat missing values
df_complete.isnull().sum()

# 2. Cek duplikat
df_complete.duplicated().sum()

# 3. Cek tipe data (ubah kalau perlu)
df_complete.dtypes

# 4. Kalau ada tanggal, ubah jadi datetime
# Kolom tanggal di df_complete: created_at, updated_at, enrollments_at, last_enrolled_at
datetime_cols = ['created_at', 'updated_at', 'enrollments_at', 'last_enrolled_at']

for col in datetime_cols:
    df_complete[col] = pd.to_datetime(df_complete[col], errors='coerce')

# 5. Drop kolom kosong total (semua NaN)
df_complete = df_complete.dropna(axis=1, how='all')

/tmp/ipython-input-2672531833.py:15: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_complete[col] = pd.to_datetime(df_complete[col], errors='coerce')
/tmp/ipython-input-2672531833.py:15: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df_complete[col] = pd.to_datetime(df_complete[col], errors='coerce')

In [20]:
df_complete_clean = df_complete.copy()

# EXAM REGIST

In [21]:
import pandas as pd

# Misal nama file hasil upload
df_regist = pd.read_csv('exam_registrations.csv')

# Lihat 5 baris pertama
df_regist.head()

,id,exam_module_id,tutorial_id,examinees_id,status,created_at,updated_at,deadline_at,retake_limit_at,exam_finished_at,deleted_at
0,"42482,",16,"7,444","96,989",2,"Apr 14, 2020, 08:45","Apr 14, 2020, 23:24","Apr 14, 2020, 09:15","Apr 14, 2020, 14:47","Apr 14, 2020, 08:57","Apr 14, 2020, 23:24"
1,"45362,",16,"7,444","96,989",2,"Apr 14, 2020, 23:24","Apr 19, 2020, 19:13","Apr 14, 2020, 23:54","Apr 15, 2020, 05:26","Apr 14, 2020, 23:36","Apr 19, 2020, 19:13"
2,"60627,",16,"7,444","96,989",2,"Apr 19, 2020, 19:13","Apr 19, 2020, 19:13","Apr 19, 2020, 19:43","Apr 20, 2020, 01:22","Apr 19, 2020, 19:32",NaN
3,"74687,",99,"7,851","96,989",2,"Apr 24, 2020, 10:59","Apr 24, 2020, 10:59","Apr 24, 2020, 11:29","Apr 24, 2020, 17:16","Apr 24, 2020, 11:16",NaN
4,"105987,",104,"7,852","96,989",2,"May 3, 2020, 13:39","May 6, 2020, 20:09","May 3, 2020, 14:09","May 3, 2020, 20:06","May 3, 2020, 14:06","May 6, 2020, 20:09"

In [22]:
# Jumlah baris dan kolom
df_regist.shape

(16759, 11)

In [23]:
df_regist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16759 entries, 0 to 16758
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                16759 non-null  object
 1   exam_module_id    16759 non-null  object
 2   tutorial_id       16759 non-null  object
 3   examinees_id      16759 non-null  object
 4   status            16759 non-null  int64
 5   created_at        16759 non-null  object
 6   updated_at        16759 non-null  object
 7   deadline_at       16759 non-null  object
 8   retake_limit_at   16759 non-null  object
 9   exam_finished_at  16759 non-null  object
 10  deleted_at        9028 non-null   object
dtypes: int64(1), object(10)
memory usage: 1.4+ MB

In [24]:
# 1. Lihat missing values
df_regist.isnull().sum()

# 2. Cek duplikat
df_regist.duplicated().sum()

# 3. Cek tipe data (ubah kalau perlu)
df_regist.dtypes

# 4. Kalau ada tanggal, ubah jadi datetime
# Kolom tanggal di df_regist: created_at, updated_at, deadline_at, retake_limit_at, exam_finished_at, deleted_at
datetime_cols = ['created_at', 'updated_at', 'deadline_at', 'retake_limit_at', 'exam_finished_at', 'deleted_at']

for col in datetime_cols:
    df_regist[col] = pd.to_datetime(df_regist[col], errors='coerce')

# 5. Drop kolom kosong total (semua NaN)
df_regist = df_regist.dropna(axis=1, how='all')

In [25]:
df_regist_clean = df_regist.copy()

# EXAM RESULT

In [26]:
import pandas as pd

# Misal nama file hasil upload
df_exam = pd.read_csv('exam_results.csv')

# Lihat 5 baris pertama
df_exam.head()

,id,exam_registration_id,total_questions,score,is_passed,created_at,look_report_at
0,"42,762","42,482",25,68,0,"Apr 14, 2020, 08:57","Apr 19, 2020, 19:12"
1,"45,652","45,362",25,68,0,"Apr 14, 2020, 23:36","Apr 19, 2020, 19:12"
2,"61,017","60,627",25,80,1,"Apr 19, 2020, 19:32","Apr 19, 2020, 19:32"
3,"75,107","74,687",25,92,1,"Apr 24, 2020, 11:16","Apr 24, 2020, 11:16"
4,"106,507","105,987",25,76,0,"May 3, 2020, 14:06","May 6, 2020, 20:09"

In [27]:
# Jumlah baris dan kolom
df_exam.shape

(17438, 7)

In [28]:
df_exam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17438 entries, 0 to 17437
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    17438 non-null  object
 1   exam_registration_id  17438 non-null  object
 2   total_questions       17438 non-null  int64
 3   score                 17438 non-null  int64
 4   is_passed             17438 non-null  int64
 5   created_at            17438 non-null  object
 6   look_report_at        4829 non-null   object
dtypes: int64(3), object(4)
memory usage: 953.8+ KB

In [29]:
# 1. Lihat missing values
df_exam.isnull().sum()

# 2. Cek duplikat
df_exam.duplicated().sum()

# 3. Cek tipe data (ubah kalau perlu)
df_exam.dtypes

# 4. Kalau ada tanggal, ubah jadi datetime
# Kolom tanggal di df_exam: created_at, look_report_at
datetime_cols = ['created_at', 'look_report_at']

for col in datetime_cols:
    df_exam[col] = pd.to_datetime(df_exam[col], errors='coerce')

# 5. Drop kolom kosong total (semua NaN)
df_exam = df_exam.dropna(axis=1, how='all')

In [30]:
df_exam_clean = df_exam.copy()

# cleaning v_2

## Menghapus koma pada setiap kolom ID

In [31]:
# daftar kolom ID yang perlu dibersihkan
id_cols = [
    'id', 'user_id', 'developer_id', 'submitter_id',
    'exam_registration_id', 'examinees_id', 'exam_module_id',
    'quiz_id', 'tutorial_id', 'journey_id'
]

def clean_ids(df):
    for col in df.columns:
        if col in id_cols and df[col].dtype == 'object':
            df[col] = df[col].astype(str).str.replace(',', '').str.strip()
    return df

In [32]:
df_users_clean  = clean_ids(df_users_clean)
df_tracking_clean = clean_ids(df_tracking_clean)
df_submission_clean = clean_ids(df_submission_clean)
df_complete_clean = clean_ids(df_complete_clean)
df_regist_clean = clean_ids(df_regist_clean)
df_exam_clean = clean_ids(df_exam_clean)

## Drop kolom yang tidak dibutuhkan

In [33]:
# Dictionary berisi dataframe dan kolom yang ingin di-drop
drop_columns = {
    "df_users_clean": [
        'remember_token', 'image_path', 'custom_city', 'verified_identity_document',
        'verified_certificate_name', 'user_role',
        'user_verification_status', 'created_at', 'updated_at', 'deleted_at',
        'city', 'city_id', 'unsubscribe_link', 'tz', 'verified_at', 'ama',
        'phone_verification_status', 'phone_verified_with'
    ],

    "df_tracking_clean": [
        'developer_journey_status_hash'
    ],

    "df_submission_clean": [
        'app_link', 'app_comment', 'admin_comment', 'note', 'current_reviewer',
        'pass_auto_checker'
    ],

    "df_complete_clean": [
        'updated_at'
    ],

    "df_regist_clean": [
        'updated_at'
    ],

    "df_exam_clean": [
        'look_report_at'
    ]
}

# Loop untuk menghapus kolom yang ada
for df_name, cols in drop_columns.items():
    df = globals()[df_name]
    df.drop(columns=[c for c in cols if c in df.columns], inplace=True)
    print(f"âœ” {df_name} cleaned â€” {len(cols)} columns checked.")

âœ” df_users_clean cleaned â€” 18 columns checked.
âœ” df_tracking_clean cleaned â€” 1 columns checked.
âœ” df_submission_clean cleaned â€” 6 columns checked.
âœ” df_complete_clean cleaned â€” 1 columns checked.
âœ” df_regist_clean cleaned â€” 1 columns checked.
âœ” df_exam_clean cleaned â€” 1 columns checked.

## Memmastikan Konsistensi TIpe Data

In [34]:
# Ensure ID-like columns become string
id_columns = ['id', 'user_id', 'developer_id', 'submitter_id', 'quiz_id', 'tutorial_id',
              'journey_id', 'exam_module_id', 'examinees_id', 'exam_registration_id']

for df in [df_users_clean, df_tracking_clean, df_submission_clean, df_complete_clean, df_regist_clean, df_exam_clean]:
    for col in df.columns:
        if col in id_columns:
            df[col] = df[col].astype(str).str.replace(",", "").str.strip()

## Mengonversi Numeric Column

In [35]:
numeric_cols = ['status', 'rating', 'study_duration', 'total_questions', 'score', 'is_passed']

for df in [df_submission_clean, df_complete_clean, df_exam_clean, df_tracking_clean]:
    for col in numeric_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')

## Memastikan Kolom Datetime Sudah Sesuai

In [36]:
def convert_datetime(df):
    datetime_keywords = ["created_at", "updated_at", "deleted_at", "finished_at", "deadline_at", "started_at", "ended_at", "exam_finished_at"]

    for col in df.columns:
        if any(key == col.lower() for key in datetime_keywords):
            df[col] = pd.to_datetime(df[col], errors="coerce")

    return df

In [37]:
df_users_clean = convert_datetime(df_users_clean)
df_tracking_clean = convert_datetime(df_tracking_clean)
df_submission_clean = convert_datetime(df_submission_clean)
df_complete_clean = convert_datetime(df_complete_clean)
df_regist_clean = convert_datetime(df_regist_clean)
df_exam_clean = convert_datetime(df_exam_clean)

# Menyimpan Dataset yang Sudah bersih

In [38]:
df_users_clean.to_csv("clean_users.csv", index=False)
df_tracking_clean.to_csv("clean_tracking.csv", index=False)
df_submission_clean.to_csv("clean_submissions.csv", index=False)
df_complete_clean.to_csv("clean_completions.csv", index=False)
df_regist_clean.to_csv("clean_exam_registrations.csv", index=False)
df_exam_clean.to_csv("clean_exam_results.csv", index=False)

print("Dataset Hasil Cleaning Sudah DIsimpan")

Dataset Hasil Cleaning Sudah DIsimpan